body#bodybig { 
  background: url(../pic/background2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#visasdev{
	color: yellow;
}

#row88{
 background-color: white;
}


#foto1 {
	border-radius: 15px;
	height: 171px;
	width: 200px;
}

#foto11 {
	float: left;
	height: 190px;
	width: 200px;
	padding-top: 20px;
	padding-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
}

#foto12 {
	margin: 0;
	height: 170px;
	width: 200px;
}

#col12 {
padding-left: 0px;
}

#p1 {
overflow: auto;
height: 100px;
background-color: teal lighten-5;
}


#p11 {
background-color: teal lighten-5;
margin: 0;
text-align: justify;
padding-right: 20px;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
text-indent: 40px;
}

.carousel-item {
	height: 400px !important;
	width: 400px !important;
}

#collum1{
	border-radius: 15px;
}

#row1{
	min-height: 100px;
}

#row12{
	min-height: 100px;
}

#row11{
	min-height: 100px;
}


#button1{

	background-color: blue lighten-5;
}

#btn1{
	border-radius: 15px;
	height: 170px;
	width: 200px;
	text-align: center;
	background-color: blue lighten-5;
}

#div1{
color: black;
}



/*Keisti breadcrums rodykleliu spalva

.breadcrumb:before {
	
}
/*


/*Mariaus personal page*/

body#bodybg { 
  background: url(../pic/background1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.chartS{

	margin-top: 20px;
	border-radius: 3px;
	background-color: #fffffff7;
	
}

#pic1{
	float: left;
	height: 150px;
	width: 100px;
	margin: 15px;
}
.card_con{
	height: 100px;
}
.card_img {
	height: 300px;
}
/*Mariaus personal page pabaiga*/


/*About us page */
.center {
	
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.info{
	margin-left: 50px;
}

.info2{
	text-align: center;
}


/*Home page*/

 .parallax-container {
      height: 450px;
    }

#navbar{
  position:fixed;
  z-index:100;
  top:0;
  background-color:white;
  width:100%;
  height:70px;

}

/*Home page*/

.indexcardscont{
	min-height: 230px;
}

.tabs .indicator {
	background-color: #0288d1;
}


/* Ruta's page*/
.content {
    position: fixed center;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    background-color: #eceff1;
    width:80%;
    margin:auto; 

}

body#backgroundImage{
	opacity:0.8;
	background: url(../pic/BackgroundRuta.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

/*Ruta's page*/


#navbar1{
	/*background-color: #fffffff2;*/
}



body#news2bg { 
  background: url(../pic/dogs9.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


nav ul a {
	color: #fffffff2;
	font-size: 18px;
	font-weight: 500;
}

.dropdown-content li>a {
	color: #5486b3;
}

#news2btn{
	color:#5486b3;
	background-color: #ffffffe6;
	margin-top: 50px;
}



.carousel-item.news2car {
	height: 300px !important;
	width: 600px !important;
}

#logo{
		width: 80px;
		height: 70px;
}


/* Arunas page*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
/*.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

body#arunasbg { 
  background: url(../pic/arunasbg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




/* Arunas page*/